<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <h1 align="center">Your Results</h1>
    <table align="center" border="50px">
    <tr>
      <h2>
      <td>Restaurant Name</td>
      <td>Item name</td>
      <td>Price</td>
    </h2>
  </tr>
    {% for i in result %}
    <tr>
      <h3>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
      </h3>
    </tr>
    {% endfor %}
    </table>
  </body>
</html>
